[submodule "Lib/librime-ahk"]
	path = Lib/librime-ahk
	url = https://github.com/amorphobia/librime-ahk
[submodule "schemas/prelude"]
	path = schemas/prelude
	url = https://github.com/rime/rime-prelude
[submodule "schemas/essay"]
	path = schemas/essay
	url = https://github.com/rime/rime-essay
[submodule "schemas/rime-pinyin-simp"]
	path = schemas/rime-pinyin-simp
	url = https://github.com/rime/rime-pinyin-simp
