[submodule "Lib/librime-ahk"]
	path = Lib/librime-ahk
	url = https://github.com/amorphobia/librime-ahk
[submodule "schemas/prelude"]
	path = schemas/prelude
	url = https://github.com/rime/rime-prelude
[submodule "schemas/luna-pinyin"]
	path = schemas/luna-pinyin
	url = https://github.com/rime/rime-luna-pinyin
[submodule "schemas/essay"]
	path = schemas/essay
	url = https://github.com/rime/rime-essay
